* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

:root {
  --foreground: #16191e;
  --background: #21282e;
  --bg-dark: hsl(120, 6%, 7%);
  --text-white: hsl(50, 41%, 81%);
}


body {
  background-color: var(--bg-dark);
  user-select: none;
  color: var(--text-white);
  transition: all 0.3s;

  
}

.parent {
  border: 2px solid rgb(198, 240, 198);
  display: inline-block;
}

span, h1, p {
  padding: 12px;
}
