@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Special+Gothic+Expanded+One&display=swap');


* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

.quicksand-auto {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-bolder {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --foreground: #16191e;
  --background: #21282e;
  --bg-dark: hsl(120, 6%, 7%);
  --text-white: hsl(50, 41%, 81%);
   --bg-light-85: hsl(0, 0%, 85%);
}


body {
  background-color: var(--bg-dark);
  user-select: none;
  color: var(--bg-light-85);
  transition: all 0.3s;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav ul {
  display: flex;

}


nav ul li a {
  display: block;
   color: var(--bg-light-85);
   padding: 4px 15px;
}

.tab_menu {

  width: 100%;
  padding: 8px;
  margin-left: 10px;
  background-color: hsl(145, 89%, 20%);
  display: flex;
  column-gap: 15px;
}

.tab_menu span {
  background-color: hsl(145, 89%, 15%);
  padding: 12px;
}

.tab_menu .previous_tab {
  display: flex;
  column-gap: 5px;
}


.tab_menu span.add_new_tab {
  border-radius: 25px;
}

.previous_tab span.tab_active{
   background-color: hsl(34, 91%, 47%);
   color: var(--bg-dark);
}